snippet $$ "math mode" iA
\$${1}\$${0:}
endsnippet
snippet " "quoted text" iA
\`\`${1}''${0:}
endsnippet
snippet [ "brackets" iA
[${1}]${0:}
endsnippet
snippet ( "parens" iA
(${1})${0:}
endsnippet
snippet { "curly parens" iA
\{${1}\}${0:}
endsnippet
